:root {
  --blue: rgb(0, 209, 209);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --z-index1: 1;
  --z-index2: 2;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
}
