.edit-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem 0;
  font-size: 1.3rem;
}

.not-active {
  min-width: 2rem;
  height: 2rem;
  border: none;
  padding: 0.5rem;
  border: 1px solid var(--black);
  border-radius: 0.3rem;
  margin: 0.3rem;
  font-size: 1rem;
  cursor: pointer;
  background: none;
}

.is-active {
  min-width: 2rem;
  height: 2rem;
  border: none;
  padding: 0.5rem;
  border: 1px solid var(--black);
  border-radius: 0.3rem;
  margin: 0.3rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--blue);
  color: var(--white);
}
.meme-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
